# Set default behavior, in case users don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.js text
*.mjs text
*.ts text
*.astro text
*.md text
*.mdx text
*.json text
*.css text
*.html text
*.svg text