name = "ai-nexus"
pages_build_output_dir = "dist"
main = "dist/_worker.js" # This is the crucial line to activate the Astro SSR part
compatibility_date = "2025-11-05"
compatibility_flags = ["nodejs_compat"]

# [vars]
# Algolia vars removed - using D1 search

# [ai]
# binding = "AI"

[[d1_databases]]
binding = "DB"
database_name = "ai-nexus-db"
database_id = "adac7bc9-46a9-40b4-b609-28479221a17d"
migrations_dir = "migrations"