{
  "openapi": "3.0.3",
  "info": {
    "title": "Free2AITools API",
    "version": "2.0.0",
    "description": "AI model selection, comparison, and ranking powered by the Free2AITools Nexus Index (FNI). Designed for AI agents and developers building model selection pipelines.",
    "contact": {
      "name": "Free2AITools",
      "url": "https://free2aitools.com/developers"
    },
    "license": {
      "name": "MIT",
      "url": "https://github.com/mosesy5688-cell/ai-nexus/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://free2aitools.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/v1/select": {
      "post": {
        "operationId": "selectModel",
        "summary": "Select the best AI model for a task",
        "description": "Returns ranked model recommendations with FNI factor breakdown, confidence scores, and natural language rationale. Supports hardware, license, and deployment constraints.",
        "tags": ["Model Selection"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SelectRequest"
              },
              "example": {
                "task": "text-generation",
                "constraints": {
                  "max_vram_gb": 24,
                  "license": "commercial",
                  "ollama_compatible": true
                },
                "limit": 5,
                "explain": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ranked model recommendations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelectResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request (missing task field or invalid JSON)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "503": {
            "description": "Rankings data not yet available — retry after next pipeline run",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/api/v1/search": {
      "get": {
        "operationId": "search",
        "summary": "Search AI models, tools, datasets, and papers",
        "description": "Full-text search across 464K+ AI entities, ranked by FNI score. Free tier returns up to 5 results.",
        "tags": ["Search"],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "Search query",
            "example": "text generation model for coding"
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["all", "model", "tool", "dataset", "paper", "agent", "space", "prompt"]
            },
            "description": "Filter by entity type"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1, "maximum": 5, "default": 5 },
            "description": "Max results (free tier capped at 5)"
          }
        ],
        "responses": {
          "200": {
            "description": "Search results ranked by FNI",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/compare": {
      "get": {
        "operationId": "compareModels",
        "summary": "Compare 2-10 AI models side-by-side",
        "description": "Returns FNI factor decomposition, specs, and metadata for each model in parallel columns.",
        "tags": ["Comparison"],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "Comma-separated model IDs (2-10)",
            "example": "meta-llama/Llama-3.1-8B,google/gemma-2-27b"
          }
        ],
        "responses": {
          "200": {
            "description": "Side-by-side comparison",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompareResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing ids parameter, fewer than 2, or more than 10",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/api/v1/badge/{umid}": {
      "get": {
        "operationId": "getFniBadge",
        "summary": "FNI score badge (SVG)",
        "description": "Returns an SVG badge showing the entity's FNI score. Embeddable in READMEs and documentation.",
        "tags": ["Badge"],
        "parameters": [
          {
            "name": "umid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Entity ID (slug format: author--name)",
            "example": "meta-llama--llama-3.3-70b-instruct"
          }
        ],
        "responses": {
          "200": {
            "description": "SVG badge image",
            "content": {
              "image/svg+xml": {
                "schema": { "type": "string" }
              }
            }
          }
        }
      }
    },
    "/api/v1/entity/{id}": {
      "get": {
        "operationId": "getEntity",
        "summary": "Single-entity detail lookup",
        "description": "Returns full structured metadata for one entity. Closes the search -> detail chain so Agents don't have to scrape HTML. Tolerant of multiple ID forms: internal canonical (hf-model--author--name), HF-native (author/name), bare name, slug, or umid.",
        "tags": ["Entity"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Entity ID in any tolerated form",
            "example": "meta-llama/Llama-3.1-8B-Instruct"
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "schema": { "type": "string" },
            "description": "Comma-separated optional sections. Currently supports: body (adds readme_html, up to 250KB)",
            "example": "body"
          }
        ],
        "responses": {
          "200": {
            "description": "Entity detail grouped into identity / classification / fni / specs / stats / links / relations",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/EntityResponse" }
              }
            }
          },
          "400": {
            "description": "Missing required path parameter: id",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "404": {
            "description": "Entity not found (all probed shards returned 0 rows successfully)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "503": {
            "description": "All probed shards errored — transient infrastructure issue, caller may retry",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/api/v1/health": {
      "get": {
        "operationId": "getHealth",
        "summary": "Runtime observability snapshot",
        "description": "Per-isolate VFS counters + Node runtime info. Cloudflare isolates have independent state, so each call returns metrics from the isolate that handled the request — useful for spot-checking during incidents, not global aggregation. `Cache-Control: no-store` (CDN does not cache).",
        "tags": ["Health"],
        "responses": {
          "200": {
            "description": "Health snapshot",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HealthResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/datasets": {
      "get": {
        "operationId": "listDatasets",
        "summary": "List open datasets (parquet format)",
        "description": "Returns JSON manifest of FNI-scored AI entity datasets. Pass `?file=<id>` to redirect (302) to the parquet download URL.",
        "tags": ["Datasets"],
        "parameters": [
          {
            "name": "file",
            "in": "query",
            "required": false,
            "schema": { "type": "string" },
            "description": "Dataset ID — when present, server returns 302 redirect to CDN download URL",
            "example": "fni_lite_latest"
          }
        ],
        "responses": {
          "200": {
            "description": "Dataset manifest",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DatasetsResponse" }
              }
            }
          },
          "302": {
            "description": "Redirect to dataset download URL (only when ?file= is present and recognized)"
          },
          "404": {
            "description": "Unknown file ID",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/api/mcp": {
      "post": {
        "operationId": "mcpEndpoint",
        "summary": "MCP Server (JSON-RPC 2.0)",
        "description": "Model Context Protocol endpoint. Supports tools/list and tools/call for 5 tools: free2aitools_search, free2aitools_rank, free2aitools_explain, free2aitools_select_model, free2aitools_compare. Tool names MUST include the free2aitools_ prefix when invoking tools/call. **For the canonical tool catalog with full input schemas, fetch `/.well-known/mcp.json`** — that file is the authoritative source. This OpenAPI entry intentionally does not duplicate it (DRY).",
        "tags": ["MCP"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": { "type": "string", "enum": ["2.0"] },
                  "method": { "type": "string", "enum": ["initialize", "tools/list", "tools/call"] },
                  "id": { "type": "integer" },
                  "params": { "type": "object" }
                },
                "required": ["jsonrpc", "method", "id"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC 2.0 response"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SelectRequest": {
        "type": "object",
        "required": ["task"],
        "properties": {
          "task": {
            "type": "string",
            "description": "Task name or natural language description",
            "example": "text-generation"
          },
          "constraints": {
            "type": "object",
            "properties": {
              "max_vram_gb": { "type": "number", "description": "Maximum VRAM in GB" },
              "max_params_b": { "type": "number", "description": "Maximum parameters in billions" },
              "license": { "type": "string", "description": "'commercial', 'apache-2.0', 'mit', or 'any'" },
              "min_context_length": { "type": "integer", "description": "Minimum context window tokens" },
              "ollama_compatible": { "type": "boolean", "description": "Only GGUF/Ollama-compatible models" },
              "can_run_local": { "type": "boolean", "description": "Locally runnable (≤13B + GGUF)" },
              "hosted_on": { "type": "string", "description": "Hosting provider: replicate, together, hf-inference" },
              "license_type": { "type": "string", "enum": ["permissive", "copyleft", "non-commercial", "any"] }
            }
          },
          "limit": { "type": "integer", "minimum": 1, "maximum": 20, "default": 5 },
          "explain": { "type": "boolean", "default": true, "description": "Include rationale and caveats" }
        }
      },
      "SelectResponse": {
        "type": "object",
        "properties": {
          "version": { "type": "string", "example": "fni_v2.0" },
          "task_interpreted": { "type": "string" },
          "task_confidence": { "type": "number" },
          "total_candidates": { "type": "integer" },
          "recommendations": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Recommendation" }
          },
          "meta": {
            "type": "object",
            "properties": {
              "elapsed_ms": { "type": "integer" }
            }
          }
        }
      },
      "Recommendation": {
        "type": "object",
        "properties": {
          "rank": { "type": "integer" },
          "model_id": { "type": "string" },
          "name": { "type": "string" },
          "author": { "type": "string" },
          "fni_score": { "type": "number" },
          "fni_factors": {
            "type": "object",
            "properties": {
              "semantic": { "type": "number" },
              "authority": { "type": "number" },
              "popularity": { "type": "number" },
              "recency": { "type": "number" },
              "quality": { "type": "number" }
            }
          },
          "params_billions": { "type": "number", "nullable": true },
          "vram_estimate_gb": { "type": "number", "nullable": true },
          "context_length": { "type": "integer", "nullable": true },
          "license": { "type": "string", "nullable": true },
          "pipeline_tag": { "type": "string", "nullable": true },
          "ollama_compatible": { "type": "boolean" },
          "hosted_on": { "type": "array", "items": { "type": "string" } },
          "license_type": { "type": "string" },
          "can_run_local": { "type": "boolean" },
          "confidence": { "type": "number" },
          "rationale": { "type": "string" },
          "caveats": { "type": "array", "items": { "type": "string" } },
          "detail_url": { "type": "string", "format": "uri" },
          "badge_url": { "type": "string", "format": "uri" }
        }
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "version": { "type": "string" },
          "tier": { "type": "string" },
          "elapsed_ms": { "type": "integer" },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "slug": { "type": "string" },
                "name": { "type": "string" },
                "type": { "type": "string" },
                "author": { "type": "string" },
                "summary": { "type": "string" },
                "fni_score": { "type": "number" },
                "downloads": { "type": "integer" },
                "stars": { "type": "integer" }
              }
            }
          }
        }
      },
      "CompareResponse": {
        "type": "object",
        "properties": {
          "version": { "type": "string", "example": "fni_v2.0" },
          "entities": {
            "type": "array",
            "description": "Per-ID result in request order. Unresolved IDs are returned as `{id, found: false}` placeholders — the overall response remains 200; the caller inspects `found` to detect partial misses.",
            "items": {
              "oneOf": [
                {
                  "type": "object",
                  "description": "Resolved entity",
                  "properties": {
                    "id": { "type": "string" },
                    "name": { "type": "string" },
                    "author": { "type": "string", "nullable": true },
                    "type": { "type": "string" },
                    "fni_score": { "type": "number" },
                    "fni_factors": {
                      "type": "object",
                      "properties": {
                        "semantic": { "type": "number" },
                        "authority": { "type": "number" },
                        "popularity": { "type": "number" },
                        "recency": { "type": "number" },
                        "quality": { "type": "number" }
                      }
                    },
                    "specs": {
                      "type": "object",
                      "properties": {
                        "params_billions": { "type": "number", "nullable": true },
                        "context_length": { "type": "integer", "nullable": true },
                        "vram_estimate_gb": { "type": "number", "nullable": true },
                        "license": { "type": "string", "nullable": true },
                        "architecture": { "type": "string", "nullable": true },
                        "pipeline_tag": { "type": "string", "nullable": true }
                      }
                    },
                    "popularity": {
                      "type": "object",
                      "properties": {
                        "downloads": { "type": "integer" },
                        "stars": { "type": "integer" }
                      }
                    },
                    "last_modified": { "type": "string", "nullable": true, "format": "date-time" },
                    "detail_url": { "type": "string", "format": "uri" },
                    "badge_url": { "type": "string", "format": "uri" },
                    "found": { "type": "boolean", "enum": [true] }
                  }
                },
                {
                  "type": "object",
                  "description": "Unresolved ID — placeholder when the entity could not be located in any meta shard",
                  "properties": {
                    "id": { "type": "string" },
                    "found": { "type": "boolean", "enum": [false] }
                  },
                  "required": ["id", "found"]
                }
              ]
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "elapsed_ms": { "type": "integer" },
              "found": { "type": "integer", "description": "Count of entities with found: true" },
              "requested": { "type": "integer", "description": "Total IDs in the request" }
            }
          }
        }
      },
      "HealthResponse": {
        "type": "object",
        "properties": {
          "version": { "type": "string", "example": "fni_v2.0" },
          "status": { "type": "string", "example": "ok" },
          "timestamp": { "type": "string", "format": "date-time" },
          "vfs": {
            "type": "object",
            "description": "Per-isolate R2 VFS counters. Cache hit ratios are derived client-side: l0_hit_ratio = l0_hits / jread_total; l1_hit_ratio = l1_hits / (jread_total - l0_hits); short_read_rate = short_read_attempts / l2_fetches.",
            "properties": {
              "jread_total": { "type": "integer", "description": "Total VFS reads attempted since isolate boot" },
              "jread_errors": { "type": "integer" },
              "short_read_attempts": { "type": "integer" },
              "short_read_recovered": { "type": "integer" },
              "short_read_exhausted": { "type": "integer" },
              "l0_hits": { "type": "integer", "description": "Chunks served from in-memory L0 cache" },
              "l1_hits": { "type": "integer", "description": "Chunks served from Cloudflare Cache API" },
              "l2_fetches": { "type": "integer", "description": "Chunks fetched from R2 origin or CDN fallback" },
              "l0_size": { "type": "integer" },
              "l0_max": { "type": "integer" },
              "isolate_uptime_ms": { "type": "integer" },
              "error": { "type": "string", "description": "Present only when VFS module is not initialized in this isolate" }
            }
          },
          "runtime": {
            "type": "object",
            "properties": {
              "node_compat": { "type": "boolean" },
              "now_ms": { "type": "integer" }
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "elapsed_ms": { "type": "integer" },
              "isolate_random_id": { "type": "string", "description": "8-char random ID — different per Cloudflare isolate, useful for grouping spot-check requests" }
            }
          }
        }
      },
      "DatasetsResponse": {
        "type": "object",
        "properties": {
          "version": { "type": "string", "example": "fni_v2.0" },
          "description": { "type": "string" },
          "files": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string", "example": "fni_lite_latest" },
                "name": { "type": "string" },
                "tier": { "type": "string", "enum": ["free", "paid"] },
                "fields": { "type": "array", "items": { "type": "string" }, "description": "Schema field names available in the parquet file" },
                "download_url": { "type": "string", "format": "uri", "description": "Direct CDN URL for parquet file" },
                "api_url": { "type": "string", "description": "Relative API URL that returns 302 redirect to download_url" }
              }
            }
          }
        }
      },
      "EntityResponse": {
        "type": "object",
        "properties": {
          "version": { "type": "string", "example": "fni_v2.0" },
          "entity": {
            "type": "object",
            "properties": {
              "id": { "type": "string" },
              "slug": { "type": "string" },
              "type": { "type": "string", "description": "model | dataset | paper | tool | agent | space | prompt | knowledge" },
              "name": { "type": "string" },
              "author": { "type": "string", "nullable": true },
              "source": { "type": "string", "nullable": true, "description": "huggingface | github | arxiv | replicate | etc." },
              "summary": { "type": "string", "nullable": true },
              "category": { "type": "string", "nullable": true },
              "tags": { "type": "array", "items": { "type": "string" } },
              "license": { "type": "string", "nullable": true },
              "license_type": { "type": "string", "nullable": true },
              "pipeline_tag": { "type": "string", "nullable": true },
              "task_categories": { "type": "array", "items": { "type": "string" } },
              "primary_language": { "type": "string", "nullable": true },
              "fni": {
                "type": "object",
                "properties": {
                  "score": { "type": "number", "nullable": true },
                  "percentile": { "type": "string", "nullable": true },
                  "factors": {
                    "type": "object",
                    "properties": {
                      "semantic": { "type": "number", "nullable": true },
                      "authority": { "type": "number", "nullable": true },
                      "popularity": { "type": "number", "nullable": true },
                      "recency": { "type": "number", "nullable": true },
                      "quality": { "type": "number", "nullable": true }
                    }
                  },
                  "is_trending": { "type": "boolean" },
                  "trend_7d": { "type": "string", "nullable": true, "description": "Comma-separated FNI scores for last 7 days, or null" }
                }
              },
              "specs": {
                "type": "object",
                "properties": {
                  "params_billions": { "type": "number", "nullable": true },
                  "context_length": { "type": "integer", "nullable": true },
                  "architecture": { "type": "string", "nullable": true },
                  "vocab_size": { "type": "integer", "nullable": true },
                  "num_layers": { "type": "integer", "nullable": true },
                  "hidden_size": { "type": "integer", "nullable": true },
                  "vram": {
                    "type": "object",
                    "properties": {
                      "estimate_gb": { "type": "number", "nullable": true },
                      "fp16_gb": { "type": "number", "nullable": true },
                      "int8_gb": { "type": "number", "nullable": true },
                      "int4_gb": { "type": "number", "nullable": true }
                    }
                  },
                  "ollama_compatible": { "type": "boolean", "nullable": true },
                  "can_run_local": { "type": "boolean", "nullable": true },
                  "hosted_on": { "type": "array", "items": { "type": "string" }, "nullable": true },
                  "runtime_hardware": { "type": "string", "nullable": true }
                }
              },
              "stats": {
                "type": "object",
                "properties": {
                  "downloads": { "type": "integer" },
                  "stars": { "type": "integer" },
                  "forks": { "type": "integer" },
                  "citation_count": { "type": "integer" },
                  "num_rows": { "type": "integer", "nullable": true },
                  "last_modified": { "type": "string", "nullable": true, "format": "date-time" }
                }
              },
              "links": {
                "type": "object",
                "properties": {
                  "source_url": { "type": "string", "nullable": true, "format": "uri" },
                  "canonical_url": { "type": "string", "nullable": true, "format": "uri" },
                  "image_url": { "type": "string", "nullable": true, "format": "uri" },
                  "detail_url": { "type": "string", "format": "uri" },
                  "badge_url": { "type": "string", "format": "uri" }
                }
              },
              "relations": {
                "type": "object",
                "properties": {
                  "datasets_used": { "type": "array", "items": { "type": "string" } },
                  "benchmarks": { "type": "object", "nullable": true },
                  "related": { "type": "array", "items": { "type": "object" } }
                }
              },
              "citation": { "type": "string", "nullable": true },
              "quick_start": { "type": "string", "nullable": true },
              "body": {
                "type": "object",
                "description": "Only present when ?include=body",
                "properties": {
                  "readme_html": { "type": "string", "nullable": true },
                  "has_fulltext": { "type": "boolean" }
                }
              }
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "elapsed_ms": { "type": "integer" },
              "etag": { "type": "string", "nullable": true },
              "candidates_tried": { "type": "integer" }
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": { "type": "string" }
        }
      }
    }
  }
}
