---
export const prerender = false;
import Layout from '../layouts/Layout.astro';
---
<Layout title="Debug Layout" description="Testing layout">
    <h1>Layout Debug Page</h1>
    <p>If you see this inside the layout, the Layout component is working.</p>
</Layout>
