--- 
import Layout from '../layouts/Layout.astro';
---
<Layout title="AI Tools Nexus">
  <h1>AI Tools Nexus</h1>
  <ul>
    <li><a href="/image/">Image</a></li>
    <li><a href="/logo/">Logo</a></li>
    <li><a href="/video/">Video</a></li>
    <li><a href="/writing/">Writing</a></li>
    <li><a href="/resume/">Resume</a></li>
  </ul>
</Layout>
