---
export const prerender = false;
---
<!DOCTYPE html>
<html>
<head>
    <title>Minimal Test</title>
</head>
<body>
    <h1>Hello World</h1>
    <p>If you see this, Astro SSR is working.</p>
</body>
</html>
