---
import Layout from '../../layouts/Layout.astro';
import { CORE_KEYWORDS } from '../../content/config.ts';

export function getStaticPaths() {
  // We are no longer using i18n, so we generate a single static page.
  // This page will be available at /keywords
  return [
    { params: { lang: 'keywords' } }
  ];
}
---
<Layout title="Keywords">
  <main class="container">
    <h1>Keywords</h1>
    <p>A list of core keywords and topics.</p>
    <ul class="list-group">
      {CORE_KEYWORDS.map(keyword => (
        <li class="list-group-item">
          <a href={`/${keyword.slug}`}>{keyword.title}</a>
        </li>
      ))}
    </ul>
  </main>
</Layout>
```